html, body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	background: #aaa;
	display: flex;
	justify-content: space-around;
}

#stage {
	width: 100vw;
	height: calc(100vw * (36/48));

	max-width: calc((4/3)*100vh);
	max-height: 100vh;

	outline: 1px solid;

	position: relative
}

#stage > * {
	width: 100%;
	height: 100%;

	position: absolute;
}

#menus {
	display: none;
}

#sprites > * {
	position: absolute;
	z-index: 1;
}

.sprite {
	position: absolute;
}

.fg {
	position: absolute;
}

#background {
	background-image: url('default.png');
}
