include ./mixins/project.pug

+project("Glitchgame")
	p.
		Glitchgame is my current favorite game development
		 project built around the core premise of a game
		 which uses <strong>real</strong> glitches as
		 mechanics. This is in contrast to many other
		 games which deliver on the aesthetic, but appear
		 superficial to those who know how games really
		 work under the hood (e.g. Pony Island or Axiom
		 Verge).
	p.
		It was originally called "What Winstate?" in
		 reference to the original premise of a game which
		 requires glitches in order to finish, starting
		 the player off in an empty room with only a
		 bottomless pit. Since its inception, I saw it as
		 an interesting challenge to tackle whenever I
		 came out of my depression, because unlike what
		 many would assume, making a (functional) game
		 that uses real-world glitches to function would
		 actually be <strong>harder</strong> than a
		 normal game. This is not just from a design
		 aspect, but even an implementation aspect; it's
		 surprisingly difficult to make mistakes on
		 purpose.
	p.
		Even before I thought to start, I imagined it as
		 a surreal metroidvania, though I lacked a specific
		 vision of atmosphere or story. I finally got my
		 inspiration from Hollow Knight, a darling game
		 that frustrated the ever living piss out of me.
		 I'm not a great gamer. Even since I started
		 playing, I was deconstructing the design choices
		 as <a href="https://www.youtube.com/user/ExtraCreditz">Extra Credits</a> suggests and it gave me quite a
		 few ideas for improvements and mechanics I could
		 add, along with design principles for world
		 building. Inspiration.
	p.
		As of writing this, my design process is as far as
		 a basic outline of character movement, combat,
		 and some world ideas. I hope to see it go\
		 somewhere someday...
