include ./mixins/util.pug

+project("Projects")
		p.
			Welcome to my personal website, where I show off
			 all my projects! This also doubles as a
			 showcase for my sense of style and capacity as
			 a designer and fullstack web developer.
		section(rel="contact")
			h4 Contact
			address
				a(href="mailto:conscious.code@gmail.com") Email
