include ./mixins/project.pug

+project("Snow")
	p.
		Snow is a general-purpose, human-readable data
		 representation, much like XML and JSON. It was
		 originally born of a frustration with HTML, yielding
		 a data format with a smaller plaintext footprint and
		 more versatile capacity for representation (for
		 instance, Snow's equivalent to tags can have "tags"
		 where XML would put attributes). It's universally
		 better than XML, but of course lacks the maturity
		 and widespread adoption.
	p
		a(href="https://github.com/ConsciousCode/snow") Github
	
